# =========================
# Core ML / Transformers
# =========================
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
transformers
accelerate
sentencepiece

# =========================
# Image Enhancement & Vision
# =========================
realesrgan
basicsr
gfpgan
ultralytics
opencv-python
scikit-image

# =========================
# Translation
# =========================
argostranslate

# =========================
# Terminal UI
# =========================
inquirer
tqdm

# =========================
# Utilities
# =========================
requests
numpy
Pillow
python-dotenv
psutil
